/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #a99bf8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  h1, h2, p {
    margin: 10px 0;
  }
  
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 24px;
    color: #ffffff;
  }
  
  p {
    font-size: 18px;
  }
  
  span {
    font-weight: bold;
  }

  @keyframes move {
    0% {
        left: -50px; /* Adjust based on the object width */
      }
    100% {
        left: calc(100vw + 50px); /* Adjust based on the object width */
      }
    }

  .moving-object {
    position: absolute;
    width:100%;
    height:100%;
    background-image: url('images/cloud.png');
    background-size: cover;
    animation: move 55s linear infinite;
    opacity: 0.5;
  }
